body {
  background: url(../img/logo-wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.navbar {
  border-bottom: #ffd700 3px solid;
  opacity: 0.8;
}

#home-section {
  min-height: 700px;
}

#about-head-section {
  background: #333;
}

#support-head-section {
  background-color: rgba(0, 0, 0, 0.7);
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 725px;
  background-color: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 350px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas {
  color: #ffd700;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

#about-section .fas,
#support-section .fas {
  padding: 5px;
  border-radius: 5px;
}
